<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommender</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Movie Recommender</h1>
            <h2>Please add 2 of your favorite movies</h2>
            <form method="GET" action="/movie">
                <label for="movie1">Movie 1:</label>
                <input type="text" id="movie1" name="movie1" placeholder="E.g., The Shawshank Redemption" required>
                <br><br>
                <label for="movie2">Movie 2:</label>
                <input type="text" id="movie2" name="movie2" placeholder="E.g., The Godfather" required>
                <br><br>
                <label for="search_type">Search Type:</label>
                <input type="radio" id="DFS" name="search_type" value="DFS" required>
                <label for="DFS">DFS</label>
                <input type="radio" id="BFS" name="search_type" value="BFS">
                <label for="BFS">BFS</label>
                <br><br>
                {% if error %}
                    <strong style="color:red;">{{ error }}</strong><br><br>
                {% endif %}
                {% if running_time %} 
                    <strong>&emsp;Time:</strong> {{ running_time }} ms<br><br>
                {% else %}
                    <br><br>
                {% endif %}
                <button type="submit">Find</button>
            </form>
        </div>

        <div class="result-container">
            {% if recommended_movies %}
                <h3>Recommended Movies:</h3>
                <ul>
                    {% for movie in recommended_movies %}
                        <li>
                            <strong>{{ movie[1] }}</strong> ({{ movie[2] }}) <br>
                            Duration: {{ movie[3] }} mins<br>
                            Genre: {{ movie[4] }}<br>
                            Rating: {{ movie[5] }} / 10<br>
                            Votes: {{ movie[6] }}<br>
                            Director: {{ movie[7] }}<br>
                            Writer: {{ movie[8] }}<br>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</body>
<style>
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .form-container {
        width: 35%;
    }

    .result-container {
        width: 45%;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 15px;
    }
</style>
</html>